 <div class=”col-6”>
    <% @tweets.each do |tweet| %>
    <%= image_tag tweet.picture_url, width: '25%' if tweet.picture.present? %>
    <div class="card-body">
      <p class="card-text border-primary mb-3"><%= link_to tweet.content, tweet %></p>
      <% if tweet.user %>
          Tweeted by <%= tweet.user.name %> <%= time_ago_in_words(tweet.created_at) %> ago
      <% end %>
    </div>
    <% end %>
</div>
